[Unit]
Description=Personle API Service
After=network.target

[Service]
Type=simple
User=personle
Group=personle
WorkingDirectory=/opt/personle
ExecStart=/usr/bin/java -jar -Dspring.profiles.active=prod /opt/personle/personle-api.jar
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=personle-api

[Install]
WantedBy=multi-user.target