@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Expose";
    src:
        url("/fonts/Expose-Regular.woff2") format("woff2"),
        url("/fonts/Expose-Regular.woff") format("woff"),
        url("/fonts/Expose-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Earwig Factory";
    src:
        url("/fonts/EarwigFactory-Regular.woff2") format("woff2"),
        url("/fonts/EarwigFactory-Regular.woff") format("woff"),
        url("/fonts/EarwigFactory-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Cooper";
    src:
        url("/fonts/CooperBlack.woff2") format("woff2"),
        url("/fonts/CooperBlack.woff") format("woff"),
        url("/fonts/CooperBlack.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}