@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Expose";
    src:
        url("/fonts/Expose-Regular.woff2") format("woff2"),
        url("/fonts/Expose-Regular.woff") format("woff"),
        url("/fonts/Expose-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Earwig Factory";
    src:
        url("/fonts/EarwigFactory-Regular.woff2") format("woff2"),
        url("/fonts/EarwigFactory-Regular.woff") format("woff"),
        url("/fonts/EarwigFactory-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Cooper";
    src:
        url("/fonts/CooperBlack.woff2") format("woff2"),
        url("/fonts/CooperBlack.woff") format("woff"),
        url("/fonts/CooperBlack.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Arsenal";
    src:
        url("/fonts/CooperBlack.woff2") format("woff2"),
        url("/fonts/CooperBlack.woff") format("woff"),
        url("/fonts/CooperBlack.ttf") format("truetype");
    font-weight: 400 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Arsenal";
    src:
        url("/fonts/Arsenal-Bold.woff2") format("woff2"),
        url("/fonts/Arsenal-Bold.woff") format("woff"),
        url("/fonts/Arsenal-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Arsenal";
    src:
        url("/fonts/Arsenal-Regular.woff2") format("woff2"),
        url("/fonts/Arsenal-Regular.woff") format("woff"),
        url("/fonts/Arsenal-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --white: 0 0% 100%;
    --black: 0 0% 0%;
    --red: 5 100% 50%;
}